In [ ]:
import pandas as pd
import sqlite3
orders = pd.read_csv("/orders.csv")
print("Orders loaded")
users = pd.read_json("/users.json")
print("Users loaded")
conn = sqlite3.connect(":memory:")
with open("/restaurants.sql", "r") as file:
    sql_script = file.read()

conn.executescript(sql_script)

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
print("Restaurants loaded")


final_df = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

final_df = pd.merge(
    final_df,
    restaurants,
    on="restaurant_id",
    how="left"
)


final_df.to_csv("final_food_delivery_dataset.csv", index=False)

Orders loaded
Users loaded
Restaurants loaded

In [ ]:
import pandas as pd


df = pd.read_csv("final_food_delivery_dataset.csv")

print("Rows:", df.shape[0])
print("Columns:", df.shape[1])




 

 
q1 = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)
print(" Highest Gold revenue city:", q1)


 
q2 = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .idxmax()
)
print(" Highest average order value cuisine:", q2)


 
user_spend = df.groupby("user_id")["total_amount"].sum()
count_users = user_spend[user_spend > 1000].count()

if count_users < 500:
    q3 = "< 500"
elif count_users <= 1000:
    q3 = "500 ‚Äì 1000"
elif count_users <= 2000:
    q3 = "1000 ‚Äì 2000"
else:
    q3 = "> 2000"

print("Users spending > ‚Çπ1000:", q3)

 
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0‚Äì3.5", "3.6‚Äì4.0", "4.1‚Äì4.5", "4.6‚Äì5.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels)

q4 = (
    df.groupby("rating_range")["total_amount"]
    .sum()
    .idxmax()
)
print(" Rating range with highest revenue:", q4)


 
q5 = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .idxmax()
)
print(" Gold highest average order city:", q5)


 
rest_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue = df.groupby("cuisine")["total_amount"].sum()

q6 = pd.DataFrame({
    "restaurants": rest_count,
    "revenue": revenue
}).sort_values("restaurants").index[0]

print(" Lowest restaurants but high revenue cuisine:", q6)

 
gold_pct = round((df[df["membership"] == "Gold"].shape[0] / df.shape[0]) * 100)
print(" % of orders by Gold members:", gold_pct, "%")

 
restaurant_stats = (
    df.groupby("restaurant_name_x")
    .agg(
        total_orders=("order_id", "count"),
        avg_value=("total_amount", "mean")
    )
)

q8 = restaurant_stats[
    restaurant_stats["total_orders"] < 20
].sort_values("avg_value", ascending=False).index[0]

print("8Ô∏èHighest avg order (<20 orders):", q8)


 
q9 = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .idxmax()
)
print(" Highest revenue combination:", q9)


 
df["order_date"] = pd.to_datetime(df["order_date"])
df["quarter"] = df["order_date"].dt.to_period("Q")

q10 = (
    df.groupby("quarter")["total_amount"]
    .sum()
    .idxmax()
)
print(" Highest revenue quarter:", q10)




 

print(" Gold total orders:",
      df[df["membership"] == "Gold"].shape[0])

print(" Hyderabad total revenue:",
      round(df[df["city"] == "Hyderabad"]["total_amount"].sum()))

print(" Distinct users:",
      df["user_id"].nunique())

print(" Gold average order value:",
      round(df[df["membership"] == "Gold"]["total_amount"].mean(), 2))

print(" Orders with rating ‚â• 4.5:",
      df[df["rating"] >= 4.5].shape[0])

top_city = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

print(" Orders in top Gold revenue city:",
      df[(df["membership"] == "Gold") & (df["city"] == top_city)].shape[0])





print(" Join column (orders ‚Üî users): user_id")
print(" Cuisine & rating stored in: SQL format")
print(" Final dataset rows:", df.shape[0])
print(" Missing join values become: NaN")
print(" Pandas join function: merge()")
print(" 'membership' column source: users.json")
print(" Restaurant join key: restaurant_id")
print(" Food type column: cuisine")
print(" Multiple orders ‚Üí user details appear: multiple times")

Rows: 10000
Columns: 12

==================== PART 1 : MCQs ====================

1Ô∏è‚É£ Highest Gold revenue city: Chennai
2Ô∏è‚É£ Highest average order value cuisine: Mexican
3Ô∏è‚É£ Users spending > ‚Çπ1000: > 2000
4Ô∏è‚É£ Rating range with highest revenue: 4.6‚Äì5.0
5Ô∏è‚É£ Gold highest average order city: Chennai
6Ô∏è‚É£ Lowest restaurants but high revenue cuisine: Chinese
7Ô∏è‚É£ % of orders by Gold members: 50 %
8Ô∏è‚É£ Highest avg order (<20 orders): Hotel Dhaba Multicuisine
9Ô∏è‚É£ Highest revenue combination: ('Regular', 'Mexican')
üîü Highest revenue quarter: 2023Q3

==================== PART 2 : NUMERICAL ====================

1Ô∏è‚É£1Ô∏è‚É£ Gold total orders: 4987
1Ô∏è‚É£2Ô∏è‚É£ Hyderabad total revenue: 1889367
1Ô∏è‚É£3Ô∏è‚É£ Distinct users: 2883
1Ô∏è‚É£4Ô∏è‚É£ Gold average order value: 797.15
1Ô∏è‚É£5Ô∏è‚É£ Orders with rating ‚â• 4.5: 3374
1Ô∏è‚É£6Ô∏è‚É£ Orders in top Gold revenue city: 1337
1Ô∏è‚É£7Ô∏è‚É£ Join column (orders ‚Üî users): user_id
1Ô∏è‚É£8Ô∏è‚É£ Cuisine & rating stored in: SQL format
1Ô∏è‚É£9Ô∏è‚É£ Final dataset rows: 10000
2Ô∏è‚É£0Ô∏è‚É£ Missing join values become: NaN
2Ô∏è‚É£1Ô∏è‚É£ Pandas join function: merge()
2Ô∏è‚É£2Ô∏è‚É£ 'membership' column source: users.json
2Ô∏è‚É£3Ô∏è‚É£ Restaurant join key: restaurant_id
2Ô∏è‚É£4Ô∏è‚É£ Food type column: cuisine
2Ô∏è‚É£5Ô∏è‚É£ Multiple orders ‚Üí user details appear: multiple times

/tmp/ipython-input-1307655464.py:56: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["total_amount"]
/tmp/ipython-input-1307655464.py:116: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])